<template>
  <div class="svg-container">
    <svg class="svg-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate" viewBox="107 26.25 106 187.5" width="106" height="187.5"><g><path d=" M 174 117.331 L 174 88.75 C 137.022 88.75 107 116.755 107 151.25 C 107 185.745 137.022 213.75 174 213.75 L 174 185.169 C 170.137 185.713 166.121 186 162 186 C 131.645 186 107 170.429 107 151.25 C 107 132.071 131.645 116.5 162 116.5 C 166.121 116.5 170.137 116.787 174 117.331 Z  M 146 122.669 L 146 151.25 C 182.978 151.25 213 123.245 213 88.75 C 213 54.255 182.978 26.25 146 26.25 L 146 54.831 C 149.863 54.287 153.879 54 158 54 C 188.355 54 213 69.571 213 88.75 C 213 107.929 188.355 123.5 158 123.5 C 153.879 123.5 149.863 123.213 146 122.669 Z " fill-rule="evenodd" fill="none"/></g></svg>
  </div>
</template>

<style scoped>
.svg-logo {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.svg-container {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}
</style>
