<template>
  <div id="home-panel">
    <div id="intro-text">
      <router-link
        :to="{ name: 'Software Development' }"
        class="home-text"
      >
        Software development
      </router-link>
      <p class="home-text">
        &
      </p>
      <router-link
        :to="{ name: 'Music' }"
        class="home-text"
      >
        Music composition
      </router-link>
    </div>
    <svg-logo id="svg-home" />
  </div>
</template>

<script>
import Logo from '@/icons/logo'
export default {
  name: 'Home',
  components: {
    'svg-logo': Logo
  },
  data() {
    return {
    }
  }
}
</script>

<style scoped>
#home-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
#intro-text, .home-text {
  align-self: center;
  text-align: center;
  font-size: 50px;
  animation: fade-in 5s;
  color: var(--main-color);
}
a.home-text:hover {
  color: var(--hover-color);
}
#svg-home {
  animation: dash 5s cubic-bezier(0,0.1,0.1,1.0);
  width: 20%;
  stroke-width: 2px;
  stroke-dasharray: 250;
  stroke-dashoffset: 1000;
  stroke: var(--main-color);
}
@media only screen and (max-width: 740px) {
  #intro-text, .home-text {
    font-size: 24px;
  }
  #home-panel {
    flex-direction: column-reverse;
    justify-content: center;
  }

}
@keyframes dash {
  from {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dasharray: 250;
    stroke-dashoffset: 1000;
  }
}
</style>
