<template>
  <div class="root-view">
    <p> Incredible music sounds </p>
    <div id="transport">
      <pause
        v-if="isPlaying"
        @click.native="pause"
      />
      <play
        v-else
        @click.native="play"
      />
    </div>
  </div>
</template>

<script>

import { startAudioEngine, stopAudioEngine } from '@/audio/audio_engine'
import Play from '@/icons/play'
import Pause from '@/icons/pause'

export default {
  components: {
    pause: Pause,
    play: Play
  },
  data() {
    return {
      isPlaying: false
    }
  },
  mounted() {
    this.play()
  },
  destroyed() {
    this.pause()
  },
  methods: {
    pause() {
      if (!this.isPlaying) return
      stopAudioEngine()
      this.isPlaying = false
    },
    play() {
      if (this.isPlaying) return
      const AudioContext = window.AudioContext || window.webkitAudioContext
      startAudioEngine(new AudioContext())
      this.isPlaying = true
    }
  }
}
</script>

<style scoped>
.root-view {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}
#transport {
  position: absolute;
  right: 5%;
  bottom: 3%;
  color: var(--main-color);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#transport:hover {
  color: var(--hover-color);
}
p {
  align-self: center;
  text-align: center;
  font-size: 50px;
  animation: fade-in 5s;
  color: var(--main-color);
}
</style>
