<template>
  <div id="navbar">
    <router-link to="/">
      <svg-logo id="navbar-logo" />
    </router-link>
    <router-menu :links="links" />
  </div>
</template>

<script>
import RouterMenu from '@/components/router_menu'
import Logo from '@/icons/logo'

export default {
  name: 'Navbar',
  components: {
    'router-menu': RouterMenu,
    'svg-logo': Logo
  },
  data() {
    return {
      links: [
        'Software Development',
        'Music'
      ]
    }
  }
}
</script>

<style>

#navbar-logo {
  width: 40px;
  margin-left: 30px;
  stroke-width: 5px;
  stroke: var(--background-color);
  stroke-dasharray: 250;
  stroke-dashoffset: 1000;
  padding: 10px;
}
#navbar-logo:hover {
  stroke: var(--hover-color);
}
#navbar {
  width: 100%;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.router-menu {
  align-items: center;
  text-align: center;
}
.router-menu-item {
  padding: 10px;
  font-family: monospace;
  font-size: 16px;
  color: var(--background-color);
}
.router-menu-item:hover {
  color: lightblue;
}
.router-menu-item.router-link-active {
  color: orange;
  pointer-events: none;
}
</style>
