<template>
  <ul class="router-menu">
    <li
      v-for="(link, index) of links"
      :key="index"
    >
      <router-link
        class="router-menu-item"
        :to="{ name: link }"
      >
        {{ link }}
      </router-link>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'RouterMenu',
  props: {
    links: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
    }
  }
}
</script>

<style scoped>
ul {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

</style>
