<template>
  <p> Amazing software stuff </p>
</template>

<style scoped>
p {
  align-self: center;
  text-align: center;
  font-size: 50px;
  animation: fade-in 5s;
  color: var(--main-color);
}
</style>
