<template>
  <div id="app">
    <navbar />
    <div id="route">
      <router-view />
    </div>
  </div>
</template>

<script>

import Navbar from '@/components/navbar'

export default {
  components: {
    'navbar': Navbar
  }
}
</script>

<style>
#app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
}

#route {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

svg {
  overflow: visible;
}

:root {
  --main-color: #2C405A;
  --background-color: floralwhite;
  --hover-color: orange;
  --almost-black: #2c3e50;
  --button-border: #c5d9e8;
  --transition-time: 5s;
  font-family: -apple-system, BlinkMacSystemFont,
  "Helvetica Neue", Helvetica, "PingFang SC",
  "Hiragino Sans GB", "Microsoft YaHei",
  "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@keyframes fade-in {
  from {
    color: var(--background-color);
  }
  to {
    color: var(--main-color);
  }
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
</style>
